datdungeon.com {
    reverse_proxy platform:8000

    header {
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        Access-Control-Allow-Origin *
        Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
        Access-Control-Allow-Headers "Authorization, Content-Type"
    }
}