name: Deploy


on:
  push:
    branches:
      - "main"
      - "master"


jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run PyTest
        run: |
          docker build -t platform:test --target tester -f platform/Dockerfile platform --progress=plain --no-cache
          docker run --rm platform:test pytest


  build:
    runs-on: ubuntu-latest
    needs: [test]

    steps:
      - uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: amroalshaban-afk
          password: ${{ secrets.REGISTRY_TOKEN }}

      - name: Push to GHCR
        run: |
          docker build -t ghcr.io/amroalshaban-afk/platform:0.1.0 --target runtime -f platform/Dockerfile platform
          docker push ghcr.io/amroalshaban-afk/platform:0.1.0
  
  deploy:
    runs-on: ubuntu-latest
    needs: [build]

    steps:
      - name: Deploy to DigitalOcean
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USERNAME }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd analytics-platform

            echo ${{ secrets.REGISTRY_TOKEN }} | \
              docker login ghcr.io \
                --username amroalshaban-afk \
                --password-stdin
            
            git pull origin main
            docker compose up -d
